html,body,p,div,h1,h2,h5,ul,li{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html{
  background-color: black;
}
progress{
  border: 2px solid black;
  width: 30vw;
}

#Todolist_content{
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "メイリオ", Meiryo,'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAPGothic', Helvetica, sans-serif;
  background-color: rgba(29,84,63,1);
  height: auto;
  min-height: 100%;
  width: 100%;
}


#Todolist_todo_container{
  color:rgba(255,255,255,0.85);
  background-color: rgba(29,84,63,1);
  height: auto;
  min-height: 130vh;
  width: 100%;
}

#logo{
  text-align: center;
}

#compTodo_text{
  display: inline-block;
}

#statusBox{
  display: block;
  width: 50%;
  margin:2%;
}

#list{
  width: 60%;
  margin: 2% 2% 10vh 2%;
}

.todo{
  background-color: darkgray;
}
.todo_checked{
  background-color: gray;
}

#todo_title{
  font-size: 20pt;
  font-weight: bold;
}
#todo_time{
  font-size: 13pt;
  font-weight: lighter;
}

li{
  width: auto;
  display: block;
  border: 4px solid black;
  border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
  box-sizing: border-box;
  padding: 1%;
  margin: 6px 0;
}

li:hover{
}

.CheckBox{
  height: 20pt;
  border: 2px solid black;
}


#formText{
  font-size: 15pt;
  border: 2px solid black;
}

#formLimit{
  border: 2px solid black;
}

#Todolist_entry_container{
  position: fixed;
  bottom: 0;
  background-color: #8b4513;
  height: 10vh;
  width: 100%;
  border-top: 4px solid black;
}

#Todolist_entry_form{
  padding: 1%;
  height: 3vh;
}

#footer{
  color: gray;
  height: 4vh;
  text-align: right;
}
