html,body,p,div,h1,h2,h5,li{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html{
  background-color: black;
}
progress{
  border: 2px solid black;
  width: 30vw;
}

#Todolist_content{
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "メイリオ", Meiryo,'ＭＳ Ｐゴシック', 'MS PGothic', 'IPAPGothic', Helvetica, sans-serif;
  background-color: #004d00;
  height: auto;
  min-height: 100%;
  width: 100%;
}


#Todolist_todo_container{
  color:white;
  background-color: #004d00;
  height: auto;
  min-height: 150vh;
  width: 100%;
}

#logo{
  text-align: center;
}

#completion{

}

#list{
  background-color: darkgray;
  font-weight: bold;
  font-size: 20pt;
}

li{
  padding: 1vh,0;
}

.CheckBox{
  height: 20pt;
  border: 2px solid black;
}


#formText{
  font-size: 20pt;
  border: 2px solid black;
}

#Todolist_entry_container{
  position: fixed;
  bottom: 0;
  background-color: #8b4513;
  height: 20vh;
  width: 100%;
  border-top: 2px solid black;
}
